<?xml version="1.0"?>

<model>
  <name>Final Project World</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>  

  <author>
    <name>Zeid Kootbally</name>
    <email>zeidk@umd.edu</email>
  </author>

  <description>
    World used in the final project for ENPM809Y Fall 2022
  </description>
</model>
